
@{
    ViewBag.Title = "About";
}




<h2 style="color:crimson;text-decoration:underline; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size:40px;text-align:center">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<About>

    <h1 style=" font-family:cursive;font-size:30px;text-align:center"> Affordable Price</h1>
    <h1 style="font-family:cursive;font-size:30px;text-align:center">Real-time Slots /E-voucher Book</h1>
    <h1 style="font-family:cursive;font-size:30px;text-align:center"> hassle free booking -online payment</h1>
    <h1 style="font-family:cursive;font-size:30px;text-align:center"> auto confirmation of appointment through sms and email</h1>
    <h1 style="font-family:cursive;font-size:30px;text-align:center">100%refund guaranteed </h1>
    <h1 style="font-family:cursive;font-size:30px;text-align:center"> Reschedule /cancelation 3 hours prior to appointment time</h1>


</About>



