
@{
    ViewBag.Title = "Contact";
}



<h2 style="text-decoration:underline; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size:40px;text-align:center">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address style=" font-family:cursive;font-size:30px;text-align:center">
    <p>For Any Queries </p>
    <p>Contact Us</p>

    <abbr title="Phone">Phone:</abbr>
    +91 909878909
</address>

<address style=" font-family:cursive;font-size:30px;text-align:center">
    <strong>Email:</strong>   <a href="mailto:Support@example.com">spaparadise@hotmail.com</a>

</address>