@{
    ViewBag.Title = "Welcome To Spa Paradise";
}

<h1 style="font-family:monospace;font-weight:bold;font-size:40px;text-align:Left">WELCOME TO SPA PARADISE!!!</h1>
</br>
</br>

<div class="container">
    <div class="row">
        <div class="col-md-80-md-offset-2">


            <div id="imageCarousel" class="carousel slide" data-interval="2000" data-ride="carousel" data-pause="hover" data-wrap="true">

                <ol class="carousel-indicators">
                    <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#imageCarousel" data-slide-to="1"></li>
                    <li data-target="#imageCarousel" data-slide-to="2"></li>

                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Content/img/car3.jpg" width="500" height="600" class="img-responsive" />

                        <div class="carousel-caption">
                            <h3 style="color:crimson;font-family:cursive;font-size:40px;text-align:right"> Feel the Real Paradise</h3>

                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/img/car2.jpg" width="500" height="600" class="img-responsive" />
                        <div class="carousel-caption">
                            <h3 style="color:cornflowerblue;font-family:cursive;font-size:40px;text-align:right"> Experience Cloud Nine !!!</h3>

                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/img/car4.jpg" width="500" height="600" class="img-responsive" />
                        <div class="carousel-caption">
                            <h3 style="color:seagreen;font-family:cursive;font-size:40px;text-align:right"> Heaven in SAUNA!!! </h3>

                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/img/car5.jpg" width="500" height="600" class="img-responsive" />
                        <div class="carousel-caption">
                            <h3 style="color:cornflowerblue;font-family:cursive;font-size:40px;text-align:right"> Palm Massage !!!</h3>

                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/img/infra1.jpg" width="500" height="600" class="img-responsive" />
                        <div class="carousel-caption">
                            <h3 style="color:crimson;font-family:cursive;font-size:40px;text-align:right"> Best place to Visit !!!</h3>

                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/img/swimming.jpg" width="500" height="600" class="img-responsive" />
                        <div class="carousel-caption">
                            <h3 style="color:seagreen;font-family:'Segoe UI Emoji';font-size:40px;text-align:right"> Ocean Paradise !!!</h3>

                        </div>
                    </div>

                </div>
                <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#imageCarousel" class="carousel-control right" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>

            </div>
        </div>
    </div>
</div>








