
@{
    ViewBag.Title = "Welcome To Spa Paradise";
}

<h1 style="color:crimson;text-decoration:underline; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size:40px;text-align:center">GALLERY!!!</h1>
</br>
</br>

<div class="gallery">
    <p style=" font-family:cursive;font-size:35px;text-align:center" "> Offers Coming Soon!!! </p>
    <a href="~/Content/img/gal1.jpg"><img src="~/Content/img/gal1.jpg"></a>
    <a href="~/Content/img/gal2.jpg"><img src="~/Content/img/gal2.jpg"></a>
    <a href="~/Content/img/gal3.jpg"><img src="~/Content/img/gal3.jpg"></a>
    <p style=" font-family:cursive;font-size:35px;text-align:center">Our Mesmerzing Infrastructure!!!</p>
    <a href="~/Content/img/infra1.jpg"><img src="~/Content/img/infra1.jpg"></a>
    <a href="~/Content/img/infr2.jpg"><img src="~/Content/img/infr2.jpg"></a>
    <a href="~/Content/img/infr4.jpg"><img src="~/Content/img/infr4.jpg"></a>
    <p style=" font-family:cursive;font-size:35px;text-align:center">Services Available!!!</p>
    <a href="~/Content/img/facial.jpg"><img src="~/Content/img/facial.jpg"></a>
    <a href="~/Content/img/fish.jpg"><img src="~/Content/img/fish.jpg"></a>
    <a href="~/Content/img/head.jpg"><img src="~/Content/img/head.jpg"></a>
    <a href="~/Content/img/legmassage.jpg"><img src="~/Content/img/legmassage.jpg"></a>
    <a href="~/Content/img/oilmassage.jpg"><img src="~/Content/img/oilmassage.jpg"></a>
    <a href="~/Content/img/FaceMassage.jpg"><img src="~/Content/img/FaceMassage.jpg"></a>
    <p style=" font-family:cursive;font-size:35px;text-align:center">PreCautions Due To COVID-19</p>
    <a href="~/Content/img/pre1.jpg"><img src="~/Content/img/pre1.jpg"></a>
    <a href="~/Content/img/pre.jpg"><img src="~/Content/img/pre.jpg"></a>
    <a href="~/Content/img/pre2.jpg"><img src="~/Content/img/pre2.jpg"></a>
</div>


