
@model SpaParadise.Models.Cart
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Are you Sure You Want to delete this ?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-action no-colour">
        <input type="submit" value="Delete" clss="btn btn-default" />
        @Html.ActionLink("Back To Cart", "CartDetails");

    </div>
}