
@{
    ViewBag.Title = "AdminDash";
}

<h2>AdminDash</h2>

<p>
    <a href="@Url.Action("AddNewServices","Service")"
       class="btn btn-primary btn-lg">Add Services</a>
    <a href="@Url.Action("Create","Admin")"
       class="btn btn-primary btn-lg">Add Admin</a>
    <a href="@Url.Action("ServiceListAdmin","Service")"
       class="btn btn-primary btn-lg">View Services</a>
    <a href="@Url.Action("CustomerName","Customer")"
       class="btn btn-primary btn-lg"> View Customers</a>


</p>